@import url(reset.css);
@import url(variables.css);

/*components*/
@import url(components/nav.css);

/*screens*/
@import url(screen/intro.css);
@import url(screen/markeup.css);



/*google.fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    width:100%;
    margin:auto;
    font-family: "Roboto";
    color:#14110d;
    height:100vh;
}