/*intro section*/

.intro{
    width:100%;
    height:500px;
    background-color: var(--main_wheat_color);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.intro__info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:1px solid rgba(20,17,13,0.3)
}

.intro > article{
    width:50%;
}

.intro__info > div > img{
    width:150px;
    height:200px;
    border-radius: 10px;
}

.intro__info__txt{
    margin-left:60px
}

.intro__info__txt >h1,
.intro__info__txt > li{
    margin:15px 0px;
}

.intro__info__txt > li{
 line-height: 20px;   
}

.intro__info__txt > h1,
.intro__stack__txt > h1{
    font-size: 28px;
    line-height: 60px;
}

.intro__info__txt > li > b{
    font-size:18px;
    font-weight: bold;
}


/*Teck stack*/

.intro__stack{
    margin-left:20px;

}


.intro__stack__txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left:100px;
    
}

.intro__stack__txt > li{
    margin: 10px 0px

}

.intro_bar__click{
    height:200px;
    background-color:var(--main_brown_color);
}

.intro_bar__click > div{
    width:50%;
    font-size: 24px;
    color:var(--main_wheat_color);
    margin: auto;
    padding: 80px 300px;
    box-sizing: border-box;
    text-align: center;
}


.intro_bar__click > div > a:hover > .intro_bar{
    display:block;
}

/*intro_bar*/
.intro__click{
    height: 250px;
    padding:50px 0px;
    background-color: var(--main_brown_color);
}

.intro__click > article{
    width: 100%;
    margin:auto;
}


.intro_bar__stack_link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}


.intro_bar__stack_link > li{
    width:140px;
    height:140px;
    border-radius: 50%;
    background-color: var(--main_wheat_color);
    margin:0px 30px;
    padding:60px 10px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.intro_bar__stack_link > li:hover{
    font-weight: bold;
}