.markeup{
    width:100%;
    background-color: var(--main_wheat_color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:auto;
}

.markeup > h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-left:100px;
    
}


.markeup > article {
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.markup__gnb{
    margin-bottom:100px;
}

/*starbuck img 정렬*/
.markup__gnb > h2{
    font-size: 42px;
    font-weight: bold;
    color:var(--main_brown_color);
    margin: 0px 0px 35px 80px;
    margin-bottom:35px;
}


.starbucks__gnb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.starbucks__gnb .starbucks_lg {
    width:1200px;
    height:600px;
    overflow:hidden;
    position:relative;
    margin: auto;
}
.starbucks_lg > li{
    width:1200px;
    height:600px;
    position:absolute;
    left:0; top:0;
    display:none;
}
.starbucks_lg > li.on{display:block;}
.starbucks_lg > li > img{
    width:1200px;
    height:600px;
}
.starbucks__sm__gnb{
    width:100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top:30px;
}

.starbucks__sm__gnb > li{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main_brown_color);
    opacity: 0.8;
    margin-left:10px;
}

.starbucks__sm__gnb > li:last-child{
    width:60px;
    height:20px;
    border-radius: 15px;

}


.starbucks__sm__gnb > li.on{
    display:none;
}
.starbucks__sm__gnb > li.on{
    color:red;
}

.starbucks__sm__gnb > li:hover{
    opacity: 1;
}


.starbucks__sm__gnb > li img{
    width:80px;
    height:50px;
}

.starbucks__gnb > li:nth-child(3){
    margin-left:360px;
    font-size: 18px;
    font-weight: bold;
}


.starbucks__link{
    width:100%;
    height: 100%;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin: 20px auto;
}

.starbucks__link > a > span{
    margin-left:10px;
}

.starbucks__link > a > span:first-child{
    font-size: 20px;
}


.starbucks__link > a:hover > span{
    color:lightcoral;
    transform: scale(1.2);
    transition: all 0.2s;
}

/*wedding*/

.wedding__gnb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wedding__gnb > h2{
    margin-bottom:65px;
}

.wedding__gnb__wrap{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wedding__img {
    width:1200px;
    height:600px;
    overflow:hidden;
    position:relative;
    margin: auto;
}
.wedding__img > li{
    width:1200px;
    height:600px;
    position:absolute;
    left:0; top:0;
    
}

.wedding__img > li > img{
    width:1200px;
    height:600px;
}



.wdding__btn{
    margin-top:20px;
    margin-left:950px;
    font-weight: bold;
    cursor: pointer;
}
.wdding__btn > li:hover{
    opacity: 1;    
}









/*chat gnb*/


.chat__gnb{
    width:1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}


.chat__gnb__wrap{
    width:100%;
}

.chat__img{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__img > li {
    width:360px;
}


.chat__img > li > img{
    width:100%;
    height:auto;
}



.chat__sm__gnb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-left: 930px;

}
.chat__sm__gnb > li{
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main_brown_color);
    opacity: 0.8;
    margin:0px 5px;
}


.chat__sm__gnb > li:last-child{
    width:60px;
    height:20px;
    border-radius: 15px;

}


.chat__gnb > h2{
    font-size: 28px;
    font-weight: bold;
    color:var(--main_brown_color);
    margin-bottom:10px;}

.wedding__link{
    margin-top:20px;
    margin-left:960px;
    font-size: 16px;
    font-weight: bold;
    }


    .chat__gnb > h2{
        font-size:40px;
        font-weight: bold;
        padding-bottom:50px;

    }

    .chat_btn{
        width: 100%;
    }

    .chat_btn > span{
        margin-right:20px;
    }

/*

  width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main_brown_color);
    
    */