.node_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.node_text > span {
  font-size: 23px;
  font-weight: bold;
}

.node_text > p {
  font-size: 18px;
  margin-top: 20px;
}
